#navbar {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  width: 50%;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 4em;
}

.logo-firsthalf {
  color: white;
}
.logo-secondhalf {
  color: rgb(0, 132, 255);
}

a {
  color: white;
  font-family: "Roboto";
  font-size: 1em;
  text-decoration: none;
}

.nav-links {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

a:hover {
  color: rgb(0, 132, 255);
}

.bg-black {
  background-color: black;
  padding-bottom: 2%;
}
