.card-title {
  color: black;
}
.card-text {
  font-size: 0.5em;
  text-decoration: none;
  color: black;
}
.card-footer {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.hover p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7; /* number of lines to show */
}

.hover:hover {
  border: black 1px solid;
  cursor: pointer;
  text-decoration: none;
}

.genre {
  color: black;
}

.genre:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
